/* Default style */

a {
    text-decoration: none;
}

/* Background for header */
.smogon-background {
    background-color: #8E24AA;
}

/* Mobile responsive */

@media (max-width: 1024px) {
    .xl-screen {
        display: none;
    }
}

@media (min-width: 513px) and (max-width: 800px) {
    .large-screen {
        display: none;
    }
}

@media (min-width: 801px) {
    .mid-screen-sub {
        display: none;
    }
}

@media (max-width: 512px) {
    .large-screen {
        display: none;
    }
    .mid-screen {
        display: none;
    }
    .mid-screen-sub {
        display: none !important;
    }
}

@media (min-width: 513px) {
    .small-screen-sub {
        display: none;
    }
}

/* Layout */

.container {
    width: 100%;
}

.txtcenter {
   text-align: center;
}

.hidden {
    display: none;
}

.autowidth {
    width: auto;
}

.padded {
    padding: 1rem;
}

.limited-width {
    max-width: 968px;
    margin: 5px 0;
}

.poke-stats-main {
    width: 100%;
    text-align: center;
}

.mdl-chip {
    margin: 0.3rem 0.5rem;
} 

.options-separator {
    margin: 0 2rem;
}

/* Cards */

.cards-container {
    width: 100%;
    padding: 1rem;
}

.card-main {
    width: 90%;
    min-width: 512px;
    max-width: 800px;
    padding: 2rem;
}

.format-card {
    display: inline-block;
    margin: 1rem 0.5rem;
}

@media (min-width: 600px) {
    .format-card {
        width: 512px;
    }
}

@media (max-width: 600px) {
    .format-card {
        width: 240px;
    }
    .format-card-sprite {
        display: none;
    }
}

.format-card.mdl-card__title {
    color: #fff;
    height: 116px;
    background: #8E24AA;
    font-weight: bold;
}

.format-card-sprite {
    width: 96px;
    height: 96px;
    background-color: #8E24AA;
    margin-right: 1rem;
}

/* Sections */

.poke-stats-section {
    width: 100%;
    padding: 1rem;
    background: #3f51b5;
    color: white;
    font-size: 1.4rem;
    text-align: center;
}

/* Tables */

.main-table-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.1rem;
}

.main-table th {
    font-size: 1.3rem;
    font-weight: bold;
}

.main-table td {
    font-size: 1.1rem;
}

/* Icons */

.picon {
    image-rendering: pixelated;
    margin-top: -3px;
    display: block;
    width: 40px;
    height: 30px;
    float: left;
}

.item-icon {
    image-rendering: pixelated;
    margin-top: -3px;
    display: block;
    width: 24px;
    height: 24px;
    float: left;
}

.type-image {
    display: inline-block;
    height: 1rem;
    width: auto;
}

.caregory-image {
    display: inline-block;
    height: 1rem;
    width: auto;
}

.pokemon-big-sprite {
    width: 96px;
    height: 96px;
}

/* Other styles */

.filter-match {
    background-color: gold;
}

.pokemon-nav-button {
    margin: 5px;
}

.stall-graph {
    width: 100%;
    height: 100%;
    max-height: 300px;
    display: block;
    border: solid black 1px;
}
